<div class="filters">
  <div class="filters__style">
    <form [formGroup]="filterForm">
      <mat-form-field class="filter__style-form">
        <mat-label>Size</mat-label>
        <mat-select formControlName="size">
          <mat-option *ngFor="let size of filters.sizes" [value]="size.value">
            {{ size.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter__style-form">
        <mat-label>Color</mat-label>
        <mat-select formControlName="color">
          <mat-option
            *ngFor="let color of filters.colors"
            [value]="color.value"
          >
            {{ color.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter__style-form">
        <mat-label>Animal type</mat-label>
        <mat-select formControlName="animalType">
          <mat-option
            *ngFor="let type of filters.animalTypes"
            [value]="type.value"
          >
            {{ type.value }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="clearFilter()"
        class="filter__style-button"
      >
        Clear filters
      </button>
    </form>
  </div>
</div>
<div class="gallery">
  <ng-container *ngFor="let data of dataSource">
    <div class="gallery__group" (click)="goToAnimal(data.id)">
      <img class="gallery__img" [src]="createImgPath(data.images[0].url)" />
      <div class="gallery__text">
        <span class="gallery__text-desc">{{ data.name }}</span>
      </div>
    </div>
  </ng-container>
</div>
<div class="footer">
  <mat-paginator
    [length]="resultLength"
    [pageSize]="10"
    [pageSizeOptions]="[10, 20, 50]"
  >
  </mat-paginator>
</div>
