<div class="filters">
  <div class="filters__style">
    <mat-form-field>
      <mat-label>Size</mat-label>
      <mat-select>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Color</mat-label>
      <mat-select>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Size</mat-label>
      <mat-select>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="gallery">
  <ng-container *ngFor="let data of dataSource">
    <div class="gallery__group" (click)="goToAnimal(data.id)">
      <img class="gallery__img" src="{{ data.images[0].url }}" />
      <div class="gallery__text">
        <span class="gallery__text-desc">{{ data.name }}</span>
      </div>
    </div>
  </ng-container>
</div>
<div class="footer">
  <mat-paginator
    [length]="resultLength"
    [pageSize]="2"
    [pageSizeOptions]="[2, 3, 5]"
  >
  </mat-paginator>
</div>
