<div class="container">
  <mat-card class="form-card">
    <!-- <mat-card-header>Login/Register page</mat-card-header> -->
    <mat-card-content>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Login">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" value="" />
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" />
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>
          <button mat-raised-button color="primary">Login</button>
        </mat-tab>
        <mat-tab label="Register">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" value="" />
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" />
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" />
            <mat-icon>vpn_key</mat-icon>
          </mat-form-field>
          <button mat-button color="primary">Register</button>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
