.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container__calendar {
    width: 50%;
}

.container__title {
    padding-top: 18px;
    font-family: "Montserrat";
    text-align: center;
}

.container__formWrapper {
    padding-left: 15px;
    width: 50%;
}

.container__timeSelect {
    width: 100%;
}

.container__selectedDate {
    font-family: "Montserrat";
    margin-bottom: 10px;

}

.container__formActions {
    display: flex;
    justify-content: flex-end;
}

.container__button {
    margin-left: 10px;
}