<div class="container">
  <div class="wrapper">
    <div class="wrapper__img">
      <img src="../../../../assets/shelter.jpeg" />
    </div>
    <div class="wrapper_title">Animal Shelter</div>
  </div>
  <div class="blocks">
    <div class="flex-item-one" routerLink="/animals/cats">
      <div class="img">
        <img src="../../../../assets/bear.svg" alt="cat" />
      </div>
      <div class="img_title">Cats for adoption</div>
    </div>
    <div class="flex-item-two" routerLink="/animals/dogs">
      <div class="img">
        <img src="../../../../assets/dog.svg" alt="dog" />
      </div>
      <div class="img_title">Dogs for adoption</div>
    </div>
    <div class="flex-item-three" routerLink="/fundraisers">
      <div class="img">
        <img src="../../../../assets/bowl.svg" alt="bowl" />
      </div>
      <div class="img_title">Check our fundraisers</div>
    </div>
  </div>
</div>
