<div class="container">
  <form [formGroup]="animalForm">
    <mat-card class="form-card">
      <mat-card-header>
        <div class="form-group-name">
          <mat-form-field class="example-full-width">
            <mat-label>Name of animal</mat-label>
            <input
              type="text"
              matInput
              formControlName="name"
              placeholder="Name"
            />
          </mat-form-field>
          <span
            class="container__formField--errors"
            *ngIf="
              animalForm.get('name')?.hasError('required') &&
              animalForm.get('name')?.touched
            "
          >
            This field is required
          </span>
        </div>
      </mat-card-header>
      <div class="inputButton">
        <input type="file" accept="image/*" (change)="selectFile($event)" />
      </div>
      <mat-divider></mat-divider>
      <div
        class="imagePreview"
        *ngIf="profilePhotoUrl && profilePhotoUrl !== ''"
      >
        <img mat-card-image [src]="profilePhotoUrl" />
      </div>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="row">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input
                type="text"
                matInput
                formControlName="name"
                placeholder="Name"
              />
            </mat-form-field>
            <span
              class="container__formField--errors"
              *ngIf="
                animalForm.get('name')?.hasError('required') &&
                animalForm.get('name')?.touched
              "
            >
              This field is required
            </span>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input
                type="text"
                matInput
                formControlName="name"
                placeholder="Name"
              />
            </mat-form-field>
            <span
              class="container__formField--errors"
              *ngIf="
                animalForm.get('name')?.hasError('required') &&
                animalForm.get('name')?.touched
              "
            >
              This field is required
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input
                type="text"
                matInput
                formControlName="name"
                placeholder="Name"
              />
            </mat-form-field>
            <span
              class="container__formField--errors"
              *ngIf="
                animalForm.get('name')?.hasError('required') &&
                animalForm.get('name')?.touched
              "
            >
              This field is required
            </span>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input
                type="text"
                matInput
                formControlName="name"
                placeholder="Name"
              />
            </mat-form-field>
            <span
              class="container__formField--errors"
              *ngIf="
                animalForm.get('name')?.hasError('required') &&
                animalForm.get('name')?.touched
              "
            >
              This field is required
            </span>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input
                type="text"
                matInput
                formControlName="name"
                placeholder="Name"
              />
            </mat-form-field>
            <span
              class="container__formField--errors"
              *ngIf="
                animalForm.get('name')?.hasError('required') &&
                animalForm.get('name')?.touched
              "
            >
              This field is required
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input
                type="text"
                matInput
                formControlName="name"
                placeholder="Name"
              />
            </mat-form-field>
            <span
              class="container__formField--errors"
              *ngIf="
                animalForm.get('name')?.hasError('required') &&
                animalForm.get('name')?.touched
              "
            >
              This field is required
            </span>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input
                type="text"
                matInput
                formControlName="name"
                placeholder="Name"
              />
            </mat-form-field>
            <span
              class="container__formField--errors"
              *ngIf="
                animalForm.get('name')?.hasError('required') &&
                animalForm.get('name')?.touched
              "
            >
              This field is required
            </span>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input
                type="text"
                matInput
                formControlName="name"
                placeholder="Name"
              />
            </mat-form-field>
            <span
              class="container__formField--errors"
              *ngIf="
                animalForm.get('name')?.hasError('required') &&
                animalForm.get('name')?.touched
              "
            >
              This field is required
            </span>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input
                type="text"
                matInput
                formControlName="name"
                placeholder="Name"
              />
            </mat-form-field>
            <span
              class="container__formField--errors"
              *ngIf="
                animalForm.get('name')?.hasError('required') &&
                animalForm.get('name')?.touched
              "
            >
              This field is required
            </span>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input
                type="text"
                matInput
                formControlName="name"
                placeholder="Name"
              />
            </mat-form-field>
            <span
              class="container__formField--errors"
              *ngIf="
                animalForm.get('name')?.hasError('required') &&
                animalForm.get('name')?.touched
              "
            >
              This field is required
            </span>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input
                type="text"
                matInput
                formControlName="name"
                placeholder="Name"
              />
            </mat-form-field>
            <span
              class="container__formField--errors"
              *ngIf="
                animalForm.get('name')?.hasError('required') &&
                animalForm.get('name')?.touched
              "
            >
              This field is required
            </span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
