<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>{{ userEmail }}</h2>
    </div>
    <img src="../../../../assets/user_icon.png" />
  </div>

  <mat-divider></mat-divider>

  <!-- <h2 matSubheader>Pages</h2> -->

  <mat-accordion class="app-nav-accordion">
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>User</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item>Add admin</a>
        <a mat-list-item>Delete user</a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion class="app-nav-accordion">
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Animal</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard/addAnimal">Add animal</a>
        <a mat-list-item>Delete animal</a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-divider></mat-divider>
</mat-nav-list>
