<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>{{ userEmail }}</h2>
    </div>
    <img src="../../../../assets/user_icon.png" />
  </div>
  <mat-divider></mat-divider>

  <mat-accordion class="app-nav-accordion">
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>User</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard/users">User list</a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-divider></mat-divider>

  <mat-accordion class="app-nav-accordion">
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Animal</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard/addAnimal">Add animal</a>
        <a mat-list-item routerLink="/dashboard/animalList">Animal list</a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-divider></mat-divider>

  <mat-accordion class="app-nav-accordion">
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Color</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard/add-traits/color">Add color</a>
        <a mat-list-item routerLink="/dashboard/traits/color">Color list</a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-divider></mat-divider>

  <mat-accordion class="app-nav-accordion">
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Size</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard/add-traits/size">Add size</a>
        <a mat-list-item routerLink="/dashboard/traits/size">Size list</a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-divider></mat-divider>

  <mat-accordion class="app-nav-accordion">
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Animal type</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard/add-traits/animalType"
          >Add animal type</a
        >
        <a mat-list-item routerLink="/dashboard/traits/animalType"
          >Animal type list</a
        >
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-divider></mat-divider>

  <mat-accordion class="app-nav-accordion">
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>Configuration</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard/config">Configuration list</a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-divider></mat-divider>
</mat-nav-list>
