<table mat-table [dataSource]="walks" class="table">
  <ng-container matColumnDef="animalName">
    <th mat-header-cell *matHeaderCellDef>Animal name</th>
    <td mat-cell *matCellDef="let element">{{ element.animalName }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date of walk</th>
    <td mat-cell *matCellDef="let element">
      {{ element.date | date: "h:mm dd.MM.yyyy" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="animalProfileImageUrl">
    <th mat-header-cell *matHeaderCellDef>Animal image</th>
    <td mat-cell *matCellDef="let element">
      <img
        class="photo__img"
        [src]="createImgPath(element.animalProfileImageUrl)"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button type="button" mat-icon-button>
        <mat-icon>delete_outline</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
